* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn-warning{
    text-transform: capitalize;
}

.btn-warning:hover {
    color: white !important;
    background-color: black !important;
    border: 1px solid black !important;
}

.main-items {
    height: 100%;
}

.Item-inside {
    height: 250px;
    width: 98%;
    background: rgb(131, 58, 180);
    background: linear-gradient(235deg, rgba(131, 58, 180, 1) 0%, rgba(248, 249, 249, 0) 55%,
        rgba(252, 176, 69, 1) 100%);
    box-shadow: 7px 7px 20px 3px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transition: 0.3s;
}

.Item-inside:hover {
    transform: scale(1.02);
    background: rgb(131, 58, 180);
    background: linear-gradient(235deg, rgba(131, 58, 180, 1) 0%, rgba(27, 15, 18, 0.8519782913165266) 40%,
        rgba(6, 0, 13, 0.7567401960784313) 53%, rgba(252, 176, 69, 1) 100%);
    color: white;
}
.img-div{
    padding: 0!important;
}
.img-div img {
    height: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-title h1{
    text-transform: capitalize;
}

.btn-primary{
    color: white !important;
    background-color: #642e84 !important;
    border: 1px solid #642e84 !important;
}

.btn-primary:hover{
    color: black !important;
    background-color: #00d0ff !important ;
    border: 1px solid #00d0ff !important;
}
